<form method="post" action="/post">
	<div class="questions">
		<p><label>Your Name: </label><input type="text" name="username" /></p>
		<p><label>Favorite Color: </label><input type="text" name="color" /></p>
		<p><label>Your Friend: </label><input type="text" name="friend" /></p>
		<p><label>Your Favorite City: </label><input type="text" name="place" /></p>
		<p><label>Another City: </label><input type="text" name="place2" /></p>
		<p><label>A Big Scary Animal: </label><input type="text" name="animal" /></p>
		<p><label>Your Favorite Dessert: </label><input type="text" name="dessert" /></p>
		<input type="submit" class="button"/>
	</div>
</form>