<h1>Create Your Short Story</h1>

<form method="post" action="/spin">
	<div class="questions">
		<label>Your Name</label> 
		<div class="blank"><input type="text" name="name" class="piece" /></div>
	</div>
	<div class="questions">
		<label>Your Favorite Color</label> 
		<div class="blank"><input type="text" name="color" class="piece" /></div>
	</div>
	<div class="questions">
		<label>Your Best Friend</label> 
		<div class="blank"><input type="text" name="friend" class="piece" /></div>
	</div>
	<div class="questions">
		<label>Your Favorite City</label> 
		<div class="blank"><input type="text" name="place" class="piece" /></div>
	</div>
	<div class="questions">
		<label>Another City</label> 
		<div class="blank"><input type="text" name="place2" class="piece" /></div>
	</div>
	<div class="questions">
		<label>A Large Animal That Scares You</label> 
		<div class="blank"><input type="text" name="animal" class="piece" /></div>
	</div>
	<div class="questions">
		<label>Your Favorite Dessert</label> 
		<div class="blank"><input type="text" name="dessert" class="piece" /></div>
	</div>

	<input type="submit" class="button"/>
</form>